<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="bodyFragment" class="forum component">
    <span class="font-size-big">
        <b>
            Forum
        </b>
    </span>

    <hr/>
    <span th:if="${role == 'ROLE_ADMIN'}">
        <div xmlns:th="http://www.w3.org/1999/xhtml"
             th:replace="Category/elements/formAddCategory :: formAddCategoryFragment"></div>
    </span>
    <div xmlns:th="http://www.w3.org/1999/xhtml"
         th:replace="Category/elements/categoriesForumIndex :: categoriesForumIndexFragment"></div>
</div>
