<div th:fragment="bodyFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="forum component">
    <div>
        <p>
            <b th:text="${post.title}"></b>
        </p>
    </div>

    <span id="commentsForumComponent" th:attr="post-id=${post.id}" data-active="1">
        <div th:replace="Comment/elements/comments :: commentsFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </span>

    <span th:if="${role == 'ROLE_USER'}">
        <div th:replace="Comment/elements/formAddComment :: formAddCommentFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </span>

    <span th:if="${role == 'ROLE_ANONYMOUS'}">
        <div th:replace="Comment/elements/offlineFormAddComment :: offlineFormAddCommentFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </span>
</div>