<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="bodyFragment" class="forum component">
    <div>
        <p>
            <b th:text="${post.title}"></b>
        </p>
    </div>

    <span id="commentsForumComponent" th:attr="post-id=${post.id}" data-active="1">
        <div xmlns:th="http://www.w3.org/1999/xhtml"
             th:replace="Comment/elements/comments :: commentsFragment (activeRemove='1')"></div>
    </span>

    <span th:if="${role == 'ROLE_USER' || role == 'ROLE_ADMIN'}">
        <div xmlns:th="http://www.w3.org/1999/xhtml"
             th:replace="Comment/elements/formAddComment :: formAddCommentFragment"></div>
    </span>

    <span th:if="${role == 'ROLE_ANONYMOUS'}">
        <div xmlns:th="http://www.w3.org/1999/xhtml"
             th:replace="Comment/elements/offlineFormAddComment :: offlineFormAddCommentFragment"></div>
    </span>
</div>