<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="bodyFragment" class="component members">
    <span class="font-size-big">
        <b>
            Użytkownicy
        </b>
    </span>

    <hr/>

    <div class="member-container members-itemDisMar component" id="usersMembersComponent" data-active="1">
        <div class="member-container">
            <div class="row">
                <span v-for="(user, key) in dataArray">
                    <div class="col-sm-6">
                        <div xmlns:th="http://www.w3.org/1999/xhtml"
                             th:replace="User/elements/user :: userFragment"></div>
                    </div>
                </span>
            </div>
        </div>
    </div>

</div>