<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="bodyFragment" class="component member">
    <div class="row">
        <div class="col-sm-12">
            <div class="header-member-title">
                <div>
                    <center>
                        <div class="member-title-text">
                            <h2>
                                <b th:text="${user.username}"></b>
                            </h2>
                        </div>
                        <div id="userStatus" data-active="1" th:attr="user-id=${user.id}" class="member-active-text"
                             th:text="${user.active == 0 ? 'Offline' : 'Online'}"></div>
                    </center>
                </div>
                <img th:src="${'/resources/img/' + user.pathImg}" class="member-img"/>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div>
                    <center>
                        <a class="btn btn-default margin-1p activity-element-button active" role="button"
                           onclick="activeA()">Aktywność</a>
                        <a class="btn btn-default margin-1p profil-element-button" role="button" onclick="activeB()">Profil </a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div style="display: inline" class="row activity-element">
        <div class="col-sm-12">
            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="User/user :: activityCommentMemberFragment"></div>
        </div>
    </div>
    <div style="display: none" class="row profil-element">
        <div class="col-sm-12">
            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="User/user :: activityProfileFragment"></div>
        </div>
    </div>
</div>

<div th:fragment="activityCommentMemberFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="forum">
        <span th:each="comment : ${user.comments}">
            <div>
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <span th:text="${comment.createdAt}"></span>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-3">
                    <div class="member-text center panel-heading">
                        <span>
                            <img th:src="${'/resources/img/' + user.pathImg}" class="img-rounded"/>
                            <p> <b th:text="${user.username}"></b> </p>
                            <p> <a th:href="${'/forum/category/' + comment.post.category.id}"> <span
                                    th:text="${'Kategoria :' + comment.post.category.title}"></span> </a> </p>
                            <p> <a th:href="${'/forum/post/' + comment.post.id}"> <span
                                    th:text="${'Post : ' + comment.post.title}"></span> </a> </p>
                        </span>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div>
                        <p th:text="${comment.description}"></p>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        </span>
    </div>
</div>

<div th:fragment="activityProfileFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="width-100p table">
        <tr th:replace="User/user :: activityProfileElementFragment (title='Email', data=${user.email})"
            xmlns:th="http://www.w3.org/1999/xhtml"></tr>
        <tr th:replace="User/user :: activityProfileElementFragment (title='Ilość postów', data=${user.statistics.commentsCount})"
            xmlns:th="http://www.w3.org/1999/xhtml"></tr>
        <tr th:replace="User/user :: activityProfileElementFragment (title='Ilosc komentarzy', data=${user.statistics.postsCount})"
            xmlns:th="http://www.w3.org/1999/xhtml"></tr>
    </table>
</div>

<tr th:fragment="activityProfileElementFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <td style="width: 25%;border-right: 1px solid #eaeaea;">
        <b>
            <p>
                <span th:text="${title}"></span>
            </p>
        </b>
    </td>
    <td>
        <p th:text="${data}"></p>
    </td>
</tr>