<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="sliderFragment" class="component">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img th:src="'/resources/img/nr1.jpg'"/>
            </div>
            <div class="swiper-slide">
                <img th:src="'/resources/img/nr2.jpg'"/>
            </div>
            <div class="swiper-slide">
                <img th:src="'/resources/img/n3.jpg'"/>
            </div>
            <div class="swiper-slide">
                <img th:src="'/resources/img/nr4.jpg'"/>
            </div>
        </div>
    </div>
</div>