<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="sliderFragment" class="component">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img th:src="'/resources/img/Akame.jpg'"/>
            </div>
            <div class="swiper-slide">
                <img th:src="'/resources/img/a.png'"/>
            </div>
            <div class="swiper-slide">
                <img th:src="'/resources/img/k.png'"/>
            </div>
        </div>
    </div>
</div>