<div th:fragment="categoriesForumIndexFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component forum-element">
    <div class="panel panel-default">
        <div class="panel-heading header-title">
            <b>
                <span>Kategorie</span>
            </b>
        </div>

        <div class="panel-body" id="categoriesForumComponent" data-active="1" style="overflow: scroll; max-height: 500px; overflow-x:hidden;">
            <span v-for="category in dataArray">
                <div th:replace="Category/elements/category :: categoryFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
               <span th:if="${role == 'ROLE_ADMIN'}">
                    <button type="button" class="btn btn-danger">Wykasuj</button>
               </span>
            </span>
        </div>
    </div>
</div>