body {
  font-family: arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
  background: url('../img/abcd.jpeg') no-repeat fixed;
  background-size: cover;

  a {
    text-decoration: none;
  }

  .page-wrapper {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .component {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 5px #000;
  }

  .component-error {
    padding: 20px;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .center {
    text-align: center;
  }

  .active-nav {
    background-color: dimgrey !important;
  }

  .display-inline {
    display: inline-grid;
  }

  .members-itemDisMar {
    margin: auto;
  }

  .logout-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .display-inline-flex {
    display: inline-flex;
  }

  .forum-button-container {
    padding-top: 2em;
    .forum-button {
      background-color: #77AF2B;
      color: white;
      border-radius: 10px;
    }
  }

  .div-fix {
    padding-bottom: 10px;
  }

  .font-size-big {
    font-size: 24px;
  }

  .padding-bottom-3p {
    padding-bottom: 3%;
  }

  .padding-left-10p {
    padding-left: 10px;
  }

  .img-height-100p {
    max-height: 100%;
  }

  .width-100 {
    width: 100%;
  }
}

//back to top
.back-to-top {
  cursor: pointer;
  padding: 5px;
  position: fixed;
  right: 0px;
  bottom: 45px;
  display: none;
  color: #fff;
  margin-bottom: 46px;
  z-index: 5;
  column-rule-color: rgb(64, 64, 64);
  background: rgba(102, 102, 102, 0.8);
  transition: background-color .3s ease-in-out;
  @media (max-width: 991px) {
    padding: 8px;
    bottom: 80px;
    margin-bottom: 15px !important;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #333;
    transition: background-color .3s ease-in-out;
  }
  &:focus {
    color: #fff;
  }
  .back-to-top-chevron-up {
    line-height: 10px;
  }
  .back-to-top-title {
    line-height: 20px;
  }
}

a {
  color: black !important;
}