body {
  background: #f0f0ed;

  a {
    text-decoration: none;
  }

  .page-wrapper {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .component {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .component-error {
    padding: 20px;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .center {
    text-align: center;
  }

  .active-nav {
    background-color: dimgrey !important;
  }

  .display-inline {
    display: inline-grid;
  }

  .members-itemDisMar {
    margin: auto;
  }

  .logout-form {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .display-inline-flex {
    display: inline-flex;
  }

  .forum-button-container {
    padding-top: 2em;
    .forum-button {
      background-color: #77AF2B;
      color: white;
      border-radius: 10px;
    }
  }

  .div-fix {
    padding-bottom: 10px;
  }

  .font-size-big {
    font-size: 24px;
  }

  .padding-bottom-3p {
    padding-bottom: 3%;
  }

  .padding-left-10p {
    padding-left: 10px;
  }

  .img-height-100p {
    max-height: 100%;
  }

  .width-100 {
    width: 100%;
  }
}