body {
  background: #f0f0ed; }
  body a {
    text-decoration: none; }
  body .page-wrapper {
    position: relative;
    text-align: left;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
  body .component {
    background-color: white;
    padding: 20px;
    border-radius: 10px; }
  body .right {
    float: right; }
  body .left {
    float: left; }
  body .center {
    text-align: center; }
