.forum {
  .forum-element {
    .header-title {
      background-color: #33363c !important;
      color: white;
    }
  }
  .forum-button-add-container {
    padding-top: 2em;
    .forum-button {
      background-color: #77AF2B;
      color: white;
    }
  }
}