.groups .buttons {
  display: inline-block;
  position: relative;
  color: transparent;
  line-height: 1;
  font-size: 11px;
  margin-bottom: 20px;
  padding: 0; }
  .groups .buttons button {
    display: inline-block;
    background-color: #77af12;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 8px;
    margin: 0 3px 2px 0;
    border: 0;
    line-height: 1;
    border-radius: 4px; }
.groups .group-container .group-item {
  display: flex;
  padding-bottom: 10px; }
  .groups .group-container .group-item img {
    max-height: 50px; }
  .groups .group-container .group-item .group-text {
    display: inline-grid;
    padding-bottom: 15px;
    padding-left: 10px; }
    .groups .group-container .group-item .group-text .group-text-friends {
      background: #E4ECF1;
      color: #6595AF;
      border-radius: 5px;
      text-align: center; }
