.members {
  .buttons {
    display: inline-block;
    position: relative;
    color: rgba(0, 0, 0, 0);
    line-height: 1;
    font-size: 11px;
    margin-bottom: 20px;
    padding: 0;

    button {
      display: inline-block;
      background-color: #77af12;
      color: #fff;
      font-weight: bold;
      font-size: 10px;
      padding: 5px 8px;
      margin: 0 3px 2px 0;
      border: 0;
      line-height: 1;
      border-radius: 4px;
    }
  }

  .member-container {

    .member-item {
      display: flex;
      padding-bottom: 10px;

      img {
        max-height: 50px;
      }

      .member-text {
        display: inline-grid;
        padding-bottom: 15px;
        padding-left: 10px;

        .member-text-friends {
          background: #E4ECF1;
          color: #6595AF;
          border-radius: 5px;
          text-align: center;
        }
      }
    }
  }
}