.member .header-member-title {
  background-color: #c5c5c5 !important;
  height: 160px; }
  .member .header-member-title .member-title-text {
    padding-top: 1px; }
  .member .header-member-title .member-active-text {
    background: #E4ECF1;
    color: #6595AF;
    border-radius: 5px;
    text-align: center;
    width: 135px; }
  .member .header-member-title .member-img {
    border-radius: 100%;
    position: relative;
    margin-left: 20px;
    border: solid 2px #fff; }
.member .margin-1p {
  margin: 1%; }
.member .count {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 100%; }
  .member .count .count-margin {
    margin: 3px; }
.member .width-100p {
  width: 100%; }
