<form xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="formAddContactFragment" class="component">
    <div class="form-group">
        <label for="username">Twoje imie:</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="email">Twój email:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="subject">Twój temat:</label>
        <input type="text" class="form-control" id="subject">
    </div>
    <label for="comment">Twoja wiadomość:</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>
    <center>
        <div class="forum-button-container">
            <button type="submit" class="btn btn-default forum-button">Wyślij</button>
        </div>

        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <hr/>
            <div class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}">
                Uzupełnij poprawnie formularz!
            </div>
        </div>

    </center>
</form>