<div th:fragment="bodyFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="Slider/slider :: sliderFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>

    <br/>

    <span id="commentsComponent" data-active="1">
        <div th:replace="Comment/elements/comments :: commentsFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </span>

    <br/>

    <span id="postsComponent" data-active="1">
        <div th:replace="Post/elements/posts :: postsFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </span>
</div>
