<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="bodyFragment">
    <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Slider/slider :: sliderFragment"></div>

    <br/>

    <span id="commentsComponent" data-active="1">
        <div xmlns:th="http://www.w3.org/1999/xhtml"
             th:replace="Comment/elements/comments :: commentsFragment (activeRemove='0')"></div>
    </span>

    <br/>

    <span id="postsComponent" data-active="1">
        <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Post/elements/posts :: postsFragment"></div>
    </span>
</div>
