<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/header :: headerFragment"></div>
</head>

<body id="body-main">

<nav xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/fixedNav :: fixedNavFragment"></nav>

<div class="container-fluid page-wrapper">

    <nav xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/nav :: navFragment"></nav>

    <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Errors/error :: errorFragment"></div>

    <div class="row">
        <div class="col-sm-3 div-fix">
            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Search/search :: searchFragment"></div>
            <br/>
            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="User/elements/users :: usersFragment"></div>
        </div>

        <div class="col-sm-6 div-fix">
            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="${body} :: bodyFragment"></div>
        </div>

        <div class="col-sm-3 div-fix">
                    <span th:if="${role == 'ROLE_ANONYMOUS'}">
                        <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Login/login :: loginFragment"></div>
                        <br/>
                    </span>

            <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Statistic/statistics :: statisticsFragment"></div>

        </div>
    </div>

    <hr/>

    <footer xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/footer :: footerFragment"></footer>

</div>
</body>

<a href="#" class="back-to-top" role="button" data-placement="left">
    <div class="back-to-top-chevron-up text-center"><i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i>
    </div>
    <div class="back-to-top-title">W górę</div>
</a>

</html>