<!DOCTYPE html>
<html>
    <head>
        <div th:replace="fragments/header :: headerFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </head>
    <body>
    <div class="container-fluid page-wrapper">
        <nav    th:replace="fragments/nav    :: navFragment" xmlns:th="http://www.w3.org/1999/xhtml"></nav>
        <div    th:replace="${body}          :: bodyFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
        <footer th:replace="fragments/footer :: footerFragment" xmlns:th="http://www.w3.org/1999/xhtml"></footer>
    </div>
    </body>
</html>