<div th:fragment="activityUsersFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component activitys">
    <div class="panel panel-default">
        <div class="panel-heading center">
            Ostatnie aktywności
        </div>

        <div class="panel-body">
            <div class="activity-item">
                <img th:src="@{/resources/img/a.jpg}" class="img-rounded"/>
                <div class="text-container">
                    <span>
                       <b> Renee Gomez </b> Posted
                    </span>
                    <span>
                        <div>
                            Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
                        </div>
                    </span>
                </div>
            </div>
            <hr/>
            <div class="activity-item">
                <img th:src="@{/resources/img/a.jpg}" class="img-rounded"/>
                <div class="text-container">
                    <span>
                       <b> Renee Gomez </b> Posted
                    </span>
                    <span>
                        <div>
                            Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
                        </div>
                    </span>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>