<div th:fragment="activityPostsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component activitys">
    <div class="panel panel-default">
        <div class="panel-heading center">
            Ostatnie posty
        </div>

        <div class="panel-body" id="postsComponent" data-active="1">
            <span v-for="post in dataArray">
                <div th:replace="elements/activityPosts :: activityPostFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <hr/>
            </span>
        </div>
    </div>
</div>

<div th:fragment="activityPostFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="activity-item">
        <img v-bind:src="'/resources/img/' + post.user.pathImg" class="img-rounded"/>
        <div class="text-container">
            <span>
                <a v-bind:href="'/user/member/' + post.user.id"> <b v-html="post.user.username"></b> </a>
                <a v-bind:href="'/forum/post/' + post.id">
                    <span v-html="'Temat: ' + post.title"></span>
                </a>
            </span>
            <span>
                <div v-html="post.description"></div>
            </span>
        </div>
    </div>
</div>