<div th:fragment="activityUsersFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component activitys"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="panel panel-default">
        <div class="panel-heading center">
            Ostatnie Komentarze
        </div>

        <div class="panel-body" id="commentsComponent" data-active="1">
            <span v-for="comment in dataArray">
                <div th:replace="elements/activityUsers :: activityUserFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
                <hr/>
            </span>
        </div>
    </div>
</div>

<div th:fragment="activityUserFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="activity-item">
        <img v-bind:src="'/resources/img/' + comment.user.pathImg" class="img-rounded"/>
        <div class="text-container">
            <span>
                <a v-bind:href="'/user/member/' + comment.user.id"> <b v-html="comment.user.username"></b> </a>
                <a v-bind:href="'/forum/category/' + comment.post.category.id"> <span v-html="'Kategoria :' + comment.post.category.title"></span> </a>
                <a v-bind:href="'/forum/post/' + comment.post.id"> <span v-html="'Post : ' + comment.post.title"></span> </a>
            </span>
            <span>
                <div v-html="comment.description"></div>
             </span>
        </div>
    </div>
</div>