<div th:fragment="activityPostsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component activitys">
    <div class="panel panel-default">
        <div class="panel-heading center">
            Ostatnie posty
        </div>

        <div class="panel-body">
            <div th:replace="elements/activityPosts :: activityPostFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
            <hr/>
            <div th:replace="elements/activityPosts :: activityPostFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
            <hr/>
        </div>
    </div>
</div>

<div th:fragment="activityPostFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="activity-item">
        <img th:src="@{/resources/img/a.jpg}" class="img-rounded"/>
        <div class="text-container">
            <span>
                <b> Mati Gej </b>
            </span>
            <span>
                <div>
                    Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away. (Antoine de Saint Exupery)
                </div>
            </span>
        </div>
    </div>
</div>