<div th:fragment="groupsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component groups"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <span>
        <b>
            Grupy
        </b>
    </span>
    <hr/>
    <div class="group-container" id="groupsComponent">
        <div th:replace="elements/groups :: groupFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </div>
</div>

<div th:fragment="groupFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--<div class="group-item">-->
        <!--<img v-bind:src="'/resources/img/' + group.pathImg" class="img-rounded img-height-50"/>-->
        <!--<div class="group-text">-->
            <!--<span>-->
                <!--<a v-bind:href="'/group/member/' + group.id" v-html="group.name"> </a>-->
            <!--</span>-->
            <!--<span>-->
               <!--<div class="group-text-friends">-->
                   <!--<span v-html="group.memberCount + ' osób'"> </span>-->
               <!--</div>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div th:fragment="group2Fragment" xmlns:th="http://www.w3.org/1999/xhtml" class="group-item">
    <div>
        <img th:src="@{/resources/img/a.jpg}" class="img-rounded img-height-100p padding-bottom-3p"/>
        <div>
            <b>
                The Tourist
            </b>
        </div>
        <div class="group-text-friends">
            <span>
                active 1 year ago
            </span>
        </div>
        <div>
            <span>
                Public Group / 14 members
            </span>
        </div>
    </div>
</div>