<div th:fragment="groupsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component groups">
    <span>
        <b>
            Grupy
        </b>
    </span>
    <hr/>
    <div class="buttons">
        <button type="button" class="btn btn-success">Nowi</button>
        <button type="button" class="btn btn-success">Aktywni</button>
        <button type="button" class="btn btn-success">Popularni</button>
    </div>
    <div class="group-container">
        <div th:replace="elements/groups :: groupFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
        <div th:replace="elements/groups :: groupFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </div>
</div>

<div th:fragment="groupFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="group-item">
        <img th:src="@{/resources/img/a.jpg}" class="img-rounded"/>
        <div class="group-text">
            <span>
               Mati Gej
            </span>
            <span>
               <div class="group-text-friends">
                   aktywnosc
               </div>
            </span>
        </div>
    </div>
</div>