<span th:fragment="listElementCountFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component">
    <div class="row">
        <div class="col-sm-12">
            <div class="padding-bottom-3p">
                Viewing 1 - 20 of 27 active members
            </div>
        </div>
    </div>
</span>

<div th:fragment="listElementPagerFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component">
    <div class="row">
        <div class="col-sm-12">
            <div class="right">
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>