<div th:fragment="membersFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component members">
    <span>
        <b>
            Użytkownicy
        </b>
    </span>
    <hr/>
    <div class="member-container" id="usersComponent">
        <div th:replace="elements/members :: memberFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
    </div>
</div>

<div th:fragment="memberFragment" xmlns:th="http://www.w3.org/1999/xhtml" v-for="user in dataArray">
    <div class="member-item">
        <img v-bind:src="'/resources/img/' + user.pathImg" class="img-rounded"/>
        <div class="member-text">
                <span>
                    <a v-bind:href="'/user/member/' + user.id" v-html="user.username"> </a>
                </span>
            <span>
                <div class="member-text-friends">
                    <span v-html="user.statistics.friendsCount + ' przyjaciuł'"> </span>
                </div>
            </span>
        </div>
    </div>
</div>