<div th:fragment="statisticsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component statistics">
    <span>
        <b>
            Statystyki
        </b>
    </span>
    <hr/>

    <div id="globalStatisticsComponent">
        <div class="statistic" v-for="globalStatistic in globalStatistics">
            <span class="glyphicon glyphicon-pencil text-container">
                <span v-html="globalStatistic.title"></span> <span class="count" v-html="' ' + globalStatistic.count">  </span>
            </span>
        </div>
    </div>
</div>