<div th:fragment="statisticsFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component statistics">
    <span>
        <b>
            Statystyki
        </b>
    </span>
    <hr/>

    <div>
        <div class="statistic">
            <span class="glyphicon glyphicon-pencil text-container">
                Posty <span class="count"> 6 </span>
            </span>
        </div>
        <div class="statistic">
            <span class="glyphicon glyphicon-pencil text-container">
                Komentarze <span class="count"> 6 </span>
            </span>
        </div>
        <div class="statistic">
            <span class="glyphicon glyphicon-pencil text-container">
                Tematy <span class="count"> 6 </span>
            </span>
        </div>
        <div class="statistic">
            <span class="glyphicon glyphicon-pencil text-container">
                Użytkownicy <span class="count"> 6 </span>
            </span>
        </div>
        <div class="statistic">
            <span class="glyphicon glyphicon-pencil text-container">
                Grupy <span class="count"> 6 </span>
            </span>
        </div>
    </div>
</div>