<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="postsFragment" class="component activitys">
    <div class="panel panel-default">
        <div class="panel-heading header-title center">
            Posty
        </div>

        <div class="panel-body" style="overflow: scroll; max-height: 500px; overflow-x:hidden;">
            <span v-for="post in dataArray">
                <div xmlns:th="http://www.w3.org/1999/xhtml" th:replace="Post/elements/post :: postFragment"></div>
            </span>
        </div>
    </div>
</div>