<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="commentsFragment" class="component forum-element activitys">
    <div class="panel panel-default">
        <div class="panel-heading header-title center">
            Komentarze
        </div>

        <div class="panel-body" id="commentsFragment" style="overflow: scroll; max-height: 600px; overflow-x:hidden;">
            <span v-for="comment in dataArray">
                <div xmlns:th="http://www.w3.org/1999/xhtml"
                     th:replace="Comment/elements/comment :: commentFragment (active=${activeRemove})"></div>
            </span>
        </div>
    </div>
</div>