<div th:fragment="commentFragment" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <span v-html="comment.createdAt"></span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 display-inline-flex">
                <div class="member-text center display-inline">
                    <img v-bind:src="'/resources/img/' + comment.user.pathImg" class="img-rounded"/>
                    <span v-html="comment.user.username"></span>
                </div>
                <div class="padding-left-10p">
                    <p v-html="comment.description"></p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>