<div th:fragment="formAddCommentFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component forum-element">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="form-group" id="form-add-comment">
                    <label for="description">Komentarz:</label>
                    <textarea class="form-control" rows="5" id="description" v-model="description"></textarea>
                    <div class="forum-button-container">
                        <center>
                            <button @click.prevent="submit" type="button" class="btn btn-default forum-button">Wyślij</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>