<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="formAddCommentFragment" class="forum-element">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="form-group" id="form-add-comment">
                    <div id="comment-input"></div>
                    <p id="f-a-co-d-e" style="color: red; display: none">Pole nie może być puste</p>
                    <div class="forum-button-container">
                        <center>
                            <button @click.prevent="submit" type="button" class="btn btn-default forum-button">Wyślij
                            </button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>