<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="registerFormFragment" class="component">
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Login:</label>
            <input required="true" type="text" class="form-control" th:field="*{username}" id="username">
        </div>
        <div class="form-group">
            <label for="pwd">Hasło:</label>
            <input required="true" type="password" class="form-control" th:field="*{password}" id="pwd">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input required="true" type="email" class="form-control" th:field="*{email}" id="email">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
        </div>
        <center>
            <div class="forum-button-container">
                <button type="submit" class="btn btn-default forum-button">Rejestruj</button>
            </div>

            <div class="errors" th:if="${#fields.hasErrors('*')}">
                <hr/>
                <div class="alert alert-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}">
                    Uzupełnij poprawnie formularz!
                </div>
            </div>

        </center>
    </form>
</div>