<footer xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footerFragment" class="container-fluid">
    <div class="row component center">
        <div class="col-sm-4">
            <span xmlns:th="http://www.w3.org/1999/xhtml"
                  th:replace="fragments/footer/logo :: logoFooterFragment"></span>
        </div>

        <div class="col-sm-4">
            <span xmlns:th="http://www.w3.org/1999/xhtml"
                  th:replace="Category/elements/categoriesFooter :: categoriesFooterFragment"></span>
        </div>

        <div class="col-sm-4">
            <span xmlns:th="http://www.w3.org/1999/xhtml"
                  th:replace="fragments/footer/descriptionForum :: descriptionForumFooterFragment"></span>
        </div>
    </div>

    <hr/>

    <span xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/footer/created :: createdFooterFragment"></span>

    <!-- scrip -->
    <script type="application/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    <script type="application/javascript" th:src="@{/webjars/vue/2.5.2/vue.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/whatwg-fetch/2.0.3/fetch.js}"></script>

    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

    <!--<script th:src="@{/resources/js/groups.js}"></script>-->
    <script th:src="@{/resources/js/globalStatistics.js}"></script>
    <script th:src="@{/resources/js/users.js}"></script>
    <script th:src="@{/resources/js/comments.js}"></script>
    <script th:src="@{/resources/js/posts.js}"></script>
    <script th:src="@{/resources/js/categories.js}"></script>
    <script th:src="@{/resources/js/members.js}"></script>
    <script th:src="@{/resources/js/socket.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.js"></script>
    <script th:src="@{/resources/js/swiper.js}"></script>
</footer>
