<footer th:fragment="footerFragment" class="container-fluid" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row component center">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-comment icon">
                  <span class="brand-text">
                     Buddy
                  </span>
            </span>
        </div>
        <div class="col-sm-4">
            <b>Kategorie</b>

            <span class="elements" id="categoriesComponent">
                <div class="element" v-for="category in categories">
                    <span v-html="category.title"> </span> <span v-html="'(' + category.postsCount + ')'"> </span>
                </div>
            </span>
        </div>
        <div class="col-sm-4">
            <b>O forum</b>

            <div class="elements">
                Collaboratively orchestrate intermandated human
                capital with cross-platform infrastructures.
                Appropriately monetize innovative catalysts for change for front-end niches.
            </div>
        </div>
    </div>
    <hr/>
    <center>
        <p>@Created By Damian Stępniak 2017</p>
    </center>

    <!-- scrip -->
    <script type="application/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/vue/2.5.2/vue.min.js}"></script>
    <script type="application/javascript" th:src="@{/webjars/whatwg-fetch/2.0.3/fetch.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/resources/js/groups.js}"></script>
    <script th:src="@{/resources/js/globalStatistics.js}"></script>
    <script th:src="@{/resources/js/users.js}"></script>
    <script th:src="@{/resources/js/comments.js}"></script>
    <script th:src="@{/resources/js/posts.js}"></script>
    <script th:src="@{/resources/js/categories.js}"></script>
    <script th:src="@{/resources/js/members.js}"></script>
    <script th:src="@{/resources/js/socket.js}"></script>
</footer>
