<head th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Layout Generic Title </title>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link -->
    <link href="webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <!-- scrip -->
    <script type="application/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="webjars/vue/2.5.2/vue.min.js"></script>
    <script type="application/javascript" src="webjars/bootstrap/4.0.0-beta-1/js/bootstrap.min.js"></script>
</head>
