<head th:fragment="headerFragment" xmlns:th="http://www.w3.org/1999/xhtml">
    <title>Layout Generic Title </title>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/nav.css}">
    <link rel="stylesheet" th:href="@{/resources/css/body.css}">
    <link rel="stylesheet" th:href="@{/resources/css/search.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/css/swiper.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/swiper.css}">
    <link rel="stylesheet" th:href="@{/resources/css/members.css}">
    <link rel="stylesheet" th:href="@{/resources/css/groups.css}">
    <link rel="stylesheet" th:href="@{/resources/css/statistics.css}">
    <link rel="stylesheet" th:href="@{/resources/css/activity.css}">
    <link rel="stylesheet" th:href="@{/resources/css/footer.css}">
    <link rel="stylesheet" th:href="@{/resources/css/forum.css}">

    <!-- scrip -->
    <script type="application/javascript" src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="webjars/vue/2.5.2/vue.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/js/swiper.min.js"></script>
    <script th:src="@{/resources/js/swiper.js}"></script>

</head>

