<div th:fragment="bodyFragment" xmlns:th="http://www.w3.org/1999/xhtml" class="component groups">
    <span class="font-size-big">
        <b>
            Groups
        </b>
    </span>

    <span th:replace="elements/lists :: listElementCountFragment" xmlns:th="http://www.w3.org/1999/xhtml"></span>

    <hr/>
    <center>
        <div class="row group-container">
            <div class="col-sm-6">
                <div th:replace="elements/groups :: group2Fragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
            </div>
            <div class="col-sm-6">
                <div th:replace="elements/groups :: group2Fragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
            </div>
        </div>
    </center>

    <br/>
    <div th:replace="elements/lists :: listElementPagerFragment" xmlns:th="http://www.w3.org/1999/xhtml"></div>
</div>


